In [1]:
import numpy as np
import pandas as pd
import easygui as gui
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib

Using matplotlib backend: TkAgg

In [2]:
df=pd.read_csv('To plot - InsideOutside.csv')
# df.columns=['Mound','percent']
rn=dict(E='Admin',G='SEM',F='SLC',H='Canteen')
df.Mound=df.Mound.map(rn)
df.columns=['Mound Location','Outside','Inside']
df

  Mound Location    Outside     Inside
0          Admin  19.611231  13.958272
1          Admin  21.191136  15.663849
2          Admin  20.785414  13.308573
3        Canteen  18.328100  12.428220
4        Canteen  20.456642  15.331107
5        Canteen  22.337908  12.905428

In [5]:
df2=pd.melt(df,id_vars='Mound Location')
plt.figure(figsize=[18,18])

f=sns.stripplot(x='variable',y='value',data=df2,hue='Mound Location',jitter=0.052,size=15,alpha=0.8)
plt.axhline(y=30,ls='dashed',c=plt.cm.plasma_r(0.3,alpha=0.5),lw=5)
f.set_ylabel('Soil Moisture (w/w %)',fontsize=24)
f.set_xlabel('Sample Location',fontsize=24)

plt.ylim(0,30)
sns.despine(offset=0, trim=True);

plt.savefig('moundSurround.png',dpi=300,transparent = True)
plt.savefig('moundSurround.svg',dpi=300,transparent = True)
df2

   Mound Location variable      value
0           Admin  Outside  19.611231
1           Admin  Outside  21.191136
2           Admin  Outside  20.785414
3         Canteen  Outside  18.328100
4         Canteen  Outside  20.456642
5         Canteen  Outside  22.337908
6           Admin   Inside  13.958272
7           Admin   Inside  15.663849
8           Admin   Inside  13.308573
9         Canteen   Inside  12.428220
10        Canteen   Inside  15.331107
11        Canteen   Inside  12.905428

In [35]:
sns.pointplot(x='variable',y='value',data=df2,hue='Mound',jitter=0.052,)